*{
    margin: 0;
    padding: 0;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border: 0;
    background: rgba(34,45,50,0.89);
    color: white;
}

.textview{
    width: 207px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: 0;
    color: rgba(34,45,50,0.89);
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.bg{
    position: absolute;
    background: linear-gradient(to right, red, blue);
    height: 100vh;
    width: 100%;
}

